/*header*/
.header {
    width: 100%;
    height: 200px;
    background-color:#006064;
    margin-top:-8px;
 }

.outline{
   text-align: left;
    color: white;
    position: absolute;
    margin-left: 170px;
    margin-top:20px;
}

.name{
    transform: translate(0px,-20px);
    font-size: 28px;
}

.department{
    transform: translate(2px,-40px);
    font-size: 13px;
}

.us{
    line-height:1.5;
    margin-bottom:20px;
}
.subheading{
    font-size: 25px;
}

.button0{
    text-align: right;
    transform: translate(-100px,15px);
}

.button1 {
    color:#eeee;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border: dashed 2px #eee;
    border-radius: 10px;
 }
.button1:hover {
    color: #fff;
    background-color: #01595c;
}

.button2 {
    color:#eeee;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1em;
    border: dashed 2px #eee;
    border-radius: 10px;
 }

.button2:hover {
    color: #fff;
    background-color: #01595c;
}

.button3 {
  color:#eeee;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.1em;
  border: dashed 2px #eee;
  border-radius: 10px;
}
.button3:hover {
  color: #fff;
  background-color: #01595c;
}


.me img{
    width: 120px;
    height: 120px;  
    border-radius: 30%;
    margin-top: 35px;
    margin-left: 20px;
    text-align: left;
    object-fit: cover;
    position: absolute;
}

.cp_timeline03 {
    position: relative;
    margin: 3em auto;
  }
  .cp_timeline03:before {
    position: absolute;
    content: '';
    top: 0;
    left: 30px;
    width: 4px;
    height: 100%;
    background-color: #006064;
  }
  .cp_timeline03 .timeline_group {
    position: relative;
    padding-top: 55px;
  }
  .cp_timeline03 .timeline_group:not(:first-of-type) {
    margin-top: 4rem;
  }
  .cp_timeline03 .time_year {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: #00838F;
    width: 100%;
    box-sizing: border-box;
  }
  .cp_timeline03 .timeline_item {
    margin-bottom: 1em;
    position: relative;
    padding-left: 80px;
    display: flex;
    align-items: center;
  }
  .cp_timeline03 .timeline_item:not(:last-of-type) {
    margin-bottom: 2em;
  }
  .cp_timeline03 .timeline_item:before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 3px;
    z-index: -1;
    background-color: #006064;
  }
  .cp_timeline03 .time {
    position: absolute;
    top: 50%;
    left: 0;
    min-width: 45px;
    min-height: 45px;
    padding: 0.5em 0.5em;
    margin-top: -33px;
    text-align: center;
    color: #fff;
    background-color: #26C6DA;
    border-radius: 50%;
  }
  .cp_timeline03 .school {
    font-size: 1em;
    font-weight: 700;
    display: block;
  }
  .cp_timeline03 .year {
    font-size: 0.8em;
    display: block;
    text-transform: uppercase;
  }
  .cp_timeline03 .desc {
    padding: 0.5em 1em;
    width: 100%;
    border-left: 3px solid #26C6DA;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
  }
  .cp_timeline03 .desc .flag {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 0.3em;
  }
  @media only screen and (max-width: 767px) {
    .cp_timeline03:before {
      left: 0;
    }
    .cp_timeline03 .timeline_group {
      padding-top: 40px;
    }
    .cp_timeline03 .timeline_item {
      padding-top: 60px;
      padding-left: 20px;
    }
    .cp_timeline03 .timeline_item:before {
      top: 90px;
    }
    .cp_timeline03 .time {
      top: 40px;
      border-radius: 0 20px 20px 0;
      min-height: 1em;
    }
    .cp_timeline03 .school,
    .cp_timeline03 .year {
      display: inline-block;
    }
    .cp_timeline03 .desc {
      font-size: 0.8em;
    }
  }

  /*menu*/
  .subheading2{
    border: outset 5px #01595c;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 12px;
  }
  .menusubheading{
    transform: translate(0px,10px);
  }
  .mikoshi{
    width: 314px;
    bottom: 25px;
    right:0px;
    position: relative;
    margin-top: 30px;
 }

 .title{
  font-size: 25px;
  color: #006064;
  transform: translate(20px,0px);
 }

  .grid-area {
    display: grid;
    height: 100vh;                /* grid全体の高さを設定 */
    grid-template-rows: 33% 33% 33%;  /* gridの割合が8:2になるよう2行用意 */
    grid-template-columns: 100%;  /* 横幅いっぱいに1列用意 */
  }
  .area-1 {
    grid-row: 1;
    grid-column: 1;
    margin-top: 30px;
  }
  .area-1:hover {
    color: #fff;
    background-color: #f0f0f0;
}
  .kodomop{
    color: #fff;
    margin-top: 5px;
    width: 230px;
  }
  .area-2 {
    grid-row: 2;
    grid-column: 1;
  }
  .area-2:hover {
    color: #fff;
    background-color: #f0f0f0;

}
  .area-3 {
    grid-row: 3;
    grid-column: 1;
  }
  .area-3:hover {
    color: #fff;
    background-color: #f0f0f0;
}

a {
  text-decoration: none;
}